<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTrace_Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <iTrace_Core.Properties.Settings>
      <setting name="socket_port" serializeAs="String">
        <value>8008</value>
      </setting>
      <setting name="websocket_port" serializeAs="String">
        <value>7007</value>
      </setting>
      <setting name="calibration_monitor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="smarteye_ip_address" serializeAs="String">
        <value>192.168.100.45</value>
      </setting>
      <setting name="smarteye_ip_port" serializeAs="String">
        <value>5800</value>
      </setting>
    </iTrace_Core.Properties.Settings>
  </userSettings>
  </configuration>